[submodule "task-tracker-dependencies-versions"]
	path = task-tracker-dependencies-versions
	url = https://github.com/MrShoffen/task-tracker-dependencies-versions.git
[submodule "task-tracker-commons"]
	path = task-tracker-commons
	url = https://github.com/MrShoffen/task-tracker-commons.git
[submodule "task-tracker-config-server"]
	path = task-tracker-config-server
	url = https://github.com/MrShoffen/task-tracker-config-server.git
[submodule "task-tracker-discovery-service"]
	path = task-tracker-discovery-service
	url = https://github.com/MrShoffen/task-tracker-discovery-service.git
[submodule "task-tracker-api-gateway"]
	path = task-tracker-api-gateway
	url = https://github.com/MrShoffen/task-tracker-api-gateway.git
