[submodule "task-tracker-dependencies-versions"]
	path = task-tracker-dependencies-versions
	url = https://github.com/MrShoffen/task-tracker-dependencies-versions.git
[submodule "task-tracker-commons"]
	path = task-tracker-commons
	url = https://github.com/MrShoffen/task-tracker-commons.git
[submodule "task-tracker-config-server"]
	path = task-tracker-config-server
	url = https://github.com/MrShoffen/task-tracker-config-server.git
[submodule "task-tracker-discovery-service"]
	path = task-tracker-discovery-service
	url = https://github.com/MrShoffen/task-tracker-discovery-service.git
[submodule "task-tracker-api-gateway"]
	path = task-tracker-api-gateway
	url = https://github.com/MrShoffen/task-tracker-api-gateway.git
[submodule "task-tracker-user-profile"]
	path = task-tracker-user-profile
	url = https://github.com/MrShoffen/task-tracker-user-profile.git
[submodule "task-tracker-authentication-service"]
	path = task-tracker-authentication-service
	url = https://github.com/MrShoffen/task-tracker-authentication-service.git
[submodule "task-tracker-user-settings"]
	path = task-tracker-user-settings
	url = https://github.com/MrShoffen/task-tracker-user-settings.git
[submodule "task-tracker-mail-service"]
	path = task-tracker-mail-service
	url = https://github.com/MrShoffen/task-tracker-mail-service.git
[submodule "task-tracker-scheduler"]
	path = task-tracker-scheduler
	url = https://github.com/MrShoffen/task-tracker-scheduler.git
[submodule "task-tracker-workspace-manager"]
	path = task-tracker-workspace-manager
	url = https://github.com/MrShoffen/task-tracker-workspace-manager.git
[submodule "task-tracker-desk-manager"]
	path = task-tracker-desk-manager
	url = https://github.com/MrShoffen/task-tracker-desk-manager.git
[submodule "task-tracker-task-manager"]
	path = task-tracker-task-manager
	url = https://github.com/MrShoffen/task-tracker-task-manager.git
[submodule "task-tracker-aggregator-service"]
	path = task-tracker-aggregator-service
	url = https://github.com/MrShoffen/task-tracker-aggregator-service.git
[submodule "task-tracker-user-permission-service"]
	path = task-tracker-user-permission-service
	url = https://github.com/MrShoffen/task-tracker-user-permission-service.git
[submodule "task-tracker-comments"]
	path = task-tracker-comments
	url = https://github.com/MrShoffen/task-tracker-comments.git
[submodule "task-tracker-sticker-service"]
	path = task-tracker-sticker-service
	url = https://github.com/MrShoffen/task-tracker-sticker-service.git
[submodule "task-tracker-realtime-service"]
	path = task-tracker-realtime-service
	url = https://github.com/MrShoffen/task-tracker-realtime-service.git
[submodule "task-tracker-frontend"]
	path = task-tracker-frontend
	url = https://github.com/MrShoffen/task-tracker-frontend.git
[submodule "task-tracker-task-history"]
	path = task-tracker-task-history
	url = https://github.com/MrShoffen/task-tracker-task-history.git
